<h1>New kata</h1>

<div>
<%= form_tag(create_kata_path) do %>
<fieldset>
  <label for="title">Title</label>
  <%= text_field_tag 'title' %>
  <label for="description">Description</label>
  <%= text_field_tag 'description' %>
</fieldset>
<%= submit_tag %>
<% end %>
</div>
